<a href="https://colab.research.google.com/github/KelvinOliveira-S/Projeto_ML/blob/main/Projeto_ML_Base8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

In [2]:
!kaggle datasets download -d tsiaras/uk-road-safety-accidents-and-vehicles
!unzip uk-road-safety-accidents-and-vehicles.zip

Dataset URL: https://www.kaggle.com/datasets/tsiaras/uk-road-safety-accidents-and-vehicles
License(s): DbCL-1.0
Downloading uk-road-safety-accidents-and-vehicles.zip to /content
 95% 135M/142M [00:00<00:00, 1.41GB/s]
100% 142M/142M [00:00<00:00, 1.35GB/s]
Archive:  uk-road-safety-accidents-and-vehicles.zip
  inflating: Accident_Information.csv
  inflating: Vehicle_Information.csv

In [3]:
import pandas as pd
uk_accidents = pd.read_csv('/content/Accident_Information.csv')

print(uk_accidents['Accident_Severity'].unique())

/tmp/ipython-input-2604438778.py:2: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  uk_accidents = pd.read_csv('/content/Accident_Information.csv')

['Serious' 'Slight' 'Fatal']

In [4]:
uk_accidents['Accident_Severity'].value_counts()

Accident_Severity
Slight     1734548
Serious     286339
Fatal        26369
Name: count, dtype: int64